#-----------------------------------------------------------
# Mac BS

*.DS_Store

#-----------------------------------------------------------
# LaTeX Stuff

*.aux
*.dvi
*.log
*.ps
*.fls
*.fdb_latexmk
*.pdf
*.toc
*.out
*.synctex.gz
*.synctex(busy)
*.txss
# Glossary
*.glo
*.ist
*.glg
*.gls

#-----------------------------------------------------------
# Images

*.png
*.eps
*.svg

#-----------------------------------------------------------
# Project

dist*/
!assets/*.pdf
!assets/**/*.png
.env

#-----------------------------------------------------------
# Node

node_modules/

#-----------------------------------------------------------